<html>
<body>

<pre>
    hello template

    ##注释
    #*
    注释
    *#
    $!{value1}
    ${value2}
    $!{value2}

    #foreach($color in $colors)
        Color $!{foreach.index}/$!{foreach.count}:$!{color}
    #end

    #foreach($key in $map.keySet())
        Numbers $!{foreach.index}/$!{foreach.count}:$!{key} $map.get($key)
    #end

    #foreach($kv in $map.entrySet())
        Numbers $!{foreach.index}/$!{foreach.count}:$!{kv.key} $!{kv.value}
    #end

    $!{user.name}
    $!{user.getName()}

    #set($title="rowcoder")
    Include:#include("header.vm")
    Parse:#parse("header.vm")

    #macro (render_color, $index, $color)
        Color By Macro $index, $color
    #end

    #foreach($color in $colors)
        #render_color($color, $color.index)
    #end

    #set($hello="hello")
    #set($hword="$!{hello} world")
    #set($hword2='$!{hello} world')

    hword $!{hword}
    hword2 $!{hword2}

    hword $hword
    hword2 $hword2

</pre>

</body>
</html>